# create HCA app for this:
HCA_CLIENT_ID="123"
HCA_SECRET="123"

# create a hackatime oauth app for these two:
HACKATIME_UID="123"
HACKATIME_SECRET="123"

# pii is only stored on airrecord, not the local DB.
AIRTABLE_BASE_ID="app..."
AIRTABLE_API_TOKEN="pat..."

# OPTIONAL, IF UNSET WILL USE PUBLIC CACHET API INSTEAD:
# create a slack bot at https://api.slack.com/apps,
# then go to its "OAuth & Permissions",
# and add the scopes listed in the README.md file.
# then install it to hackclub at the top of the page,
# you will then get a token, which you will enter here:
SLACK_BOT_TOKEN="xoxb-..."

# the slack user to which status updates are sent,
# i.e. whenever a user ships a project
ADMIN_SLACK_ID="UXXXXXXXXXX"

# comma seperated list of the slack IDs of reviewers
REVIEWERS="UXXXXXXXXX1,UXXXXXXXXX2"

REVIEWER_CHANNEL_ID="CXXXXXXXXXX"