#notice {
    position: absolute;
    top: 20px;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    background-color: green;
    padding: 10px;
    z-index: 9990;
}

#notice>button {
    margin-left: 10px;
}

img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#pfp {
    width: 64px;
    /* border-radius: 64px; */
    position: absolute;
    top: 10px;
    right: 10px;
    border: 4px inset #9c6a3d;
}

body {
    margin: 0;
    background-color: #0091F8;
    min-height: 100vh;
}

.hidden {
    opacity: 0;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    background-color: #0091F8;
    pointer-events: none;
    overflow: hidden;
}

#background {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background-image: url("graphics/sky-top.png"), linear-gradient(180deg, rgba(0, 145, 248, 1) 1%, rgba(138, 218, 255, 1) 76%, rgba(255, 255, 255, 1) 100%);
    background-repeat: repeat-x;
    background-position: top, bottom;
    background-size: 67vh, 100vh;
}

@font-face {
    font-family: inknut-antiqua;
    src: url("InknutAntiqua/InknutAntiqua-Regular.ttf");

    /* from: https://gomakethings.com/better-font-loading-with-the-font-displayswap-property/

    basically, without this, firefox (not chrome i think), will wait for the font to load before rendering the text,
    rather than using the fallback font, which leaves big empty blocks for a second or so on first load.
    */
    font-display: swap;
}

@font-face {
    font-family: inknut-antiqua;
    src: url("InknutAntiqua/InknutAntiqua-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

* {
    font-family: inknut-antiqua;
    line-height: 36px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.fade-out {
    display: none !important;
}

.fade-in {
    display: unset !important;
}

form>input[type=text],
form>input[type=url],
form>button,
form>select {
    width: calc(100% - 10px);
    background-color: #9c6a3d;
    border: 2px solid #583d26;
}

form>button {
    width: calc(100% - 40px);
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    color: black;
}

form>button[disabled] {
    cursor: default;
    filter: brightness(0.7) contrast(0.7);
    pointer-events: none;
}

form>button:hover:not([disabled]) {
    filter: saturate(1.1) brightness(1.1);
}

#minimap {
    max-width: 600px;
    width: 100%;
    height: 64px;
    background-color: #6e4c30;
    outline: 5px solid #9c6a3d;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - min(50%, 300px));
    overflow: hidden;
    background-image: url("graphics/dot.png");
}

#ship-icon {
    width: 95px;
    position: absolute;
    top: -5px;
    background-color: #6e4c30;
}

#treasure-icon {
    width: 95px;
    position: absolute;
    top: -5px;
    right: 0;
    background-color: #6e4c30;
}

#minimap-text {
    line-height: 64px;
    background-color: #6e4c30;
    margin: 0 auto;
    display: block;
    width: fit-content;
}

.page {
    background-color: #6e4c30;
    border: 5px solid #9c6a3d;
    padding: 10px;
    width: fit-content;
    color: white;
}

@keyframes fade-in-screen {
    0% {
        opacity: 0;
        filter: brightness(0);
        pointer-events: none;
    }

    50% {
        opacity: 1;
        filter: brightness(0);
    }

    99% {
        filter: brightness(1);
    }

    100% {
        pointer-events: none;
    }
}

#island-found {
    z-index: 4;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    animation: fade-in-screen 2s;
    animation-play-state: paused;
}

#island-found-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

#island-found-chest {
    position: absolute;
    top: 0;
    width: calc(100% * 250 / 1917);
    left: calc(52% - 100% * 250 / 1917);
    top: 39%;
    background: url("graphics/treasure_chest.png") no-repeat center center fixed;
    aspect-ratio: 1;
    background-size: cover;
    cursor: pointer;
    border: none;
    animation-name: shake;
    animation-timing-function: steps(1, end);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px);
    }

    89% {
        transform: translate(0px, 0px);
    }

    90% {
        transform: translate(-4px, -3px);
    }

    95% {
        transform: translate(3px, 5px);
    }

    99% {
        transform: translate(-6px, 6px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

#island-found-chest:hover {
    background: url("graphics/treasure_chest_open.png") no-repeat center center fixed;
    background-size: cover;
    animation-play-state: paused;
}

#island-found-image {
    width: 100%;
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#treasure-select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
}

#treasure-select {
    transition: 0.5s;
    opacity: 0.0;
    background-color: #6e4c30;
    border: 5px solid #9c6a3d;
    padding: 10px;
    width: fit-content;
}

#treasure-select-container:has(.treasure-select-fade) {
    pointer-events: unset !important;
}

.treasure-select-fade {
    opacity: 1.0 !important;
}

.confirm-btn {
    width: 100%;
    background-color: #9c6a3d;
    border: 2px solid #583d26;
    margin-top: 10px;
}

.confirm-btn[disabled] {
    cursor: default;
    filter: brightness(0.7) contrast(0.7);
    pointer-events: none;
}

.confirm-btn:hover:not([disabled]) {
    filter: saturate(1.1) brightness(1.1);
}

.treasure-select-btn {
    cursor: pointer;
    background-color: #4d3533;
    border: 5px solid #10121C;
}

.treasure-select-btn:hover {
    scale: 1.1;
}

.treasure-select-btn>img {
    width: 200px;
    display: block;
}

#price-form {
    display: none;
}

.selected-price {
    border: 5px solid #fff;
    filter: brightness(1.3);
}

#cargo-button {
    background: none;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

#cargo-button>img {
    width: 180px;
}

#cargo {
    display: none;
    margin: 0 auto;
    max-width: 915px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#cargo-header>span {
    padding: 5px 20px;
    color: white;
    font-size: 24px;
}

#cargo-header>button {
    background-color: #6e4c30;
    border: none;
    border-left: 5px solid #9c6a3d;
    font-size: 19px;
}

#cargo-header>button:hover {
    background-color: #7a5537;
}

#cargo-header {
    background-color: #6e4c30;
    border: 5px solid #9c6a3d;
    width: fit-content;
    border-bottom: none;
}

#cargo-body {
    background-color: #6e4c30;
    border: 5px solid #9c6a3d;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#cargo-slots {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: black;
    padding: 2.5px;
}

.cargo-slot {
    width: 120px;
    height: 120px;
    border: none;
    background-color: #563921;
    margin: 2.5px;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.selected-slot {
    background-color: #745033 !important;
}

.cargo-slot:hover {
    background-color: #49321e;
}

#cargo-slot-dragging-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

#cargo-slot-dragging {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 55;
    width: 120px;
    transform: translate(-50%, -50%);
}

.cargo-slot>img {
    width: 100%;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

#cargo-info {
    width: 100%;
    background-color: #6e4c30;
    border: 5px solid #9c6a3d;
    margin-left: 27px;
    min-width: 220px;
    max-width: 310px;
}

#cargo-info-contents {
    display: block;
    width: fit-content;
    margin: auto auto;
}

#cargo-info-text {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 26px;
}

#cargo-info-img {
    width: 290px;
}

#new-voyage-div {
    display: none;
    width: 100%;
    max-width: 400px;
    position: absolute;
    top: 120px;
    right: 20px;
}

#new-voyage-back {
    background: none;
    border: none;
    display: none;
    position: absolute;
}

#confirmation-container {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000b0;
}

#confirmation-box {
    background-color: #6e4c30;
    border: 5px solid #9c6a3d;
    padding: 10px;
    width: fit-content;
    min-width: 400px;
    height: fit-content;
    margin: 50vh auto;
    color: white;
    transform: translateY(-50%);
}

#delete-voyage-button {
    color: #f60000;
    border: none;
    background: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    margin: 0 auto;
    text-decoration: underline;
}

#new-voyage-back>img {
    width: 80px;
}

#new-voyage-back:hover,
#cargo-button:hover {
    filter: saturate(1.2) brightness(1.2)
}

.surround-border {
    filter: drop-shadow(2px 2px 0px #583d26) drop-shadow(-2px 2px 0px #583d26) drop-shadow(2px -2px 0px #583d26) drop-shadow(-2px -2px 0px #583d26);
}

#new-voyage-buttons {
    width: fit-content;
    margin: 0 auto;
    margin-top: 90px;
}

.voyage-btn {
    margin-bottom: 20px;
    margin-left: 50%;
    transform: translateX(-50%);
    text-wrap: nowrap;
    font-size: 36px;
    padding: 6px 100px;
    background-color: #9c6a3d;
    border: none;
    --angle: 45%;
    clip-path: polygon(calc(50% - var(--angle)) 0%, calc(50% + var(--angle)) 0%, 100% 50%, calc(50% + var(--angle)) 100%, calc(50% - var(--angle)) 100%, 0% 50%);
    text-shadow: 0px 1px 0px black;
    display: block;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: black;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.voyage-btn[disabled] {
    cursor: default;
    filter: brightness(0.7) contrast(0.7);
    pointer-events: none;
}

.voyage-btn:hover:not([disabled]) {
    filter: brightness(0.8);
}

#edit-voyage {
    border: none;
    background: none;
    width: fit-content;
    display: block;
    text-decoration: underline;
    cursor: pointer;
    margin: 0 auto;
}

#voyage-info {
    width: 268px;
    position: absolute;
    top: 0;
    left: 0;
    aspect-ratio: 133/167;
    background: url("graphics/parchment.png");
    background-size: cover;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#voyage-info>img {
    width: 100%;
    width: 245px;
}

#voyage-info-contents {
    padding-top: 52px;
    padding-left: 27px;
    width: calc(100% - 70px);
}

#voyage-info-contents,
#voyage-info-contents>* {
    line-height: 29px;
    font-size: 14px;
}

#voyage-info-contents>a {
    font-size: 12px;
    color: black;
}

.lightish {
    font-weight: lighter;
    font-size: 14px !important;
    line-height: 14px;
}

.light {
    font-weight: lighter;
    font-size: 11px !important;
    line-height: 13px;
}

#devpanel {
    position: absolute;
    top: 380px;
    left: 0;
}

#ship-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#ship-button {
    background-color: #399739;
    border: 2px solid #78e56c;
    margin-top: 10px;
    color: white;
    min-width: 150px;
    text-align: center;
}

#ship-button:hover {
    filter: saturate(1.1) brightness(1.1);
}

.devlogin {
    position: absolute;
    background-color: #6e4c30;
    border: 5px solid #9c6a3d;
    color: white;
    float: right;
    padding: 10px;
    top: 70px;
    right: 10px;
    z-index: 990;
}

.bottom {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: fit-content;
}

.channel-link {
    font-weight: bold;
    color: white;
}

.sign-in {
    position: absolute;
    top: 10px;
    right: 10px;
}

.linkbutton {
    background-color: #6e4c30;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    border: 5px solid #9c6a3d;
    text-decoration: none;
}

.linkbutton:hover {
    background-color: #583d26;
    border: 5px solid #8f6037;
}


.card-holder {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-holder>img {
    width: 325px;
}

.card-holder>img:hover {
    scale: 1.2;
}

pre {
    font-family: Courier New;
}

h1,
h2 {
    text-align: center;
    margin: 0;
}

#hackclub-flag {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 10;
    filter: hue-rotate(255deg) saturate(1.5);
}

#hackclub-flag:hover {
    filter: hue-rotate(215deg) saturate(1.5);
    scale: 1.2;
    left: 20px;
}

#hackclub-flag>img {
    width: 175px;
}

#scroll-indicator {
    position: absolute;
    top: calc(100vh - 35px);
    width: 95px;
    left: calc(50% - 95px / 2.0)
}

#logo {
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 705px;
    max-width: 100%;
    padding-top: 20px;
}

@media (max-width: 1205px) {
    #logo {
        padding-top: 105px;
    }
}

.map-holder {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;

    /* calc the factor the image will be scaled at. used to calc the positions of points of interest.
    the margin is 38, and not 20, since on chrome, 100vw doesnt include the scrollbars. this is to compensate for that. */
    --w_factor: calc(min(100vw - 38px, 800px) / 800);
}

.map-marker {
    position: relative;
    width: 0;
    height: 0;
}

.map-marker>div>div {
    display: none;
    width: 300px;
    height: 200px;
    margin-left: -112px;
    transform: translateY(-140px);
    background-color: #6e4c30;
    border-radius: 10px;
    border: 5px solid #9c6a3d;
    padding: 5px;
}

.spread {
    max-width: 100%;
    height: 120px;
    position: relative;
}

.spread>img {
    width: 110px;
    background-color: #4d3533;
    border: 5px solid #10121C;
    position: absolute;
    top: 0;
    transform: translateY(5px);
}

.spread>img:hover {
    scale: 1.2;
    z-index: 3;
}

.spread>img:nth-child(1) {
    left: calc(50% - 110px / 2);
    z-index: 1;
    transform: translateY(0);
}

.spread>img:nth-child(2) {
    left: 0;
    rotate: -5deg;
}

.spread>img:nth-child(3) {
    right: 0;
    rotate: 5deg;
}


.map-marker>div:hover>div {
    display: block;
}

#map-marker-3>div>div {
    margin-left: -75px;
    transform: translateY(-100px);
}

@media (max-width: 935px) {
    .map-marker>div>div {
        margin-left: -135px;
    }

    #map-marker-3>div>div {
        margin-left: -195px;
    }
}

#map-marker-1 {
    left: calc(var(--w_factor) * 280);
    top: calc(var(--w_factor) * 76);
}

#map-marker-2 {
    left: calc(var(--w_factor) * 503);
    top: calc(var(--w_factor) * 346);
}

#map-marker-3 {
    left: calc(var(--w_factor) * 618);
    top: calc(var(--w_factor) * 131);
}

#map-marker-3>div {
    width: calc(var(--w_factor) * 167);
    height: calc(var(--w_factor) * 115);
}

.map-marker>div {
    width: calc(var(--w_factor) * 85);
    height: calc(var(--w_factor) * 73);
    /* background-color: rgba(255, 255, 255, 0.178); */
}

#map {
    width: 100%;
    display: block;
}

.center {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    max-width: 995px;
    width: calc(100% - 10px);
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding: 5px;
    color: white;
    background-color: #0b0059;
}

canvas {
    z-index: -1;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh !important;
    filter: drop-shadow(0px 10px white);
}

.spacer {
    height: calc(100vh + 160px);
}

.ocean-gradient {
    position: absolute;
    /* let height be a bit higher than the spacer, to ensure no gap */
    height: calc(100vh + 190px);
    width: 100%;
    z-index: -3;
    background: linear-gradient(180deg, rgb(5, 130, 233) 00%, rgb(0, 114, 208) 80%, rgb(11, 0, 89) 96%);
}

.admin-body {
    background-color: #1c1c1c;
    color: white;
    margin: 5px;
}

.admin-body a {
    color: rgb(164, 131, 255);
}

.admin-body h1,
.admin-body h2 {
    margin: 20px;
}

.admin-body h2 {
    text-align: left;
}

/* .admin-voyage-list {} */

.admin-voyage-entry,
.admin-user-entry {
    display: inline-block;
    background-color: #161616;
    border: 3px solid #303030;
    padding: 10px;
    width: fit-content;
    color: white;
    min-width: 450px;
    position: relative;
    margin-right: 15px;
}

.admin-user-entry {
    min-width: 0;
}

.admin-user-entry>p {
    margin: 0;
}

.admin-user-entry>img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.admin-voyage-entry>p {
    margin: 0;
}